* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(42, 165, 46);
  --root-bg-color: rgb(96, 232, 130);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.background {
  background-color: var(--root-bg-color);
}
